@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

  
  .container{
    align-content: center;
    height: 600px;
    padding-left:180px;
    width: 800x;
    position: relative;
    margin-top: 50px;
    margin-right: 500px
  } 
  
  .wrapper {
    align-content: center;
    padding-left: 100px;
    margin: 50px 0;
  }